# Python virtual environments
.venv/
env/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Django
*.sqlite3
*.log
staticfiles/

# Environment files
.env

# VSCode / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Test / coverage
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
.mypy_cache/

# Node.js (optional if you have frontend)
node_modules/
dist/
build/
