
      /* Navbar */
      .navbar {
        background: #f8f9fa;;
        padding: 0px 30px;
        max-height: 100px !important;
      }
      .navbar-nav .nav-link {
        color: black !important;
        font-weight: 500;
        margin: 0 10px;
      }




